

@{
    ViewBag.Title = "Page d'accueil";
}

<div class="hero-unit">
  <h1>Machand Support Investigation</h1>
  <p>Bienvenue sur le logiciel de suivi investigation pour le support technique</p>
  <p>
    @Html.ActionLink("Entrer", "List", "Ticket", new { }, new { @class = "btn btn-primary btn-large" })
  </p>
</div>