@model IEnumerable<SupportInvestigation.Models.Model.User>


<div>Quel utilisateur voulez vous Modifier?</div>

@using (Html.BeginForm())
{

@Html.DropDownUser()

    @Html.ValidationMessage("ErrorChoice", new{ @style = "color:red"  })

        <br />
        <br />
    <p>
        <button type="submit" class="btn"> Modifier l'utilisateur </button>
    </p>
    
}