@model IEnumerable<SupportInvestigation.Models.Model.Marchand>
<div>Quel marchand voulez vous Modifier?</div>

@using (Html.BeginForm() )
{

    
@Html.DropDownMarchand()

     @Html.ValidationMessage("ErrorChoice", new { @style = "color:red" })
        <br />
        <br />
    <p>
        <input type="submit" value="Modifier" class="btn"/>
    </p>
    
}