@model SupportInvestigation.Models.Model.User

@{
    ViewBag.Title = "Delete";
}

<h3>Etes vous sure de vouloir effacer cet utilisateur</h3>
<fieldset>
    <legend>Uitilisateur</legend>

    Login: @Html.DisplayFor(model => model.Login)
    

    

    Mail
    <div class="display-field">
        @Html.DisplayFor(model => model.Mail)
    </div>

   <br />
   <br />
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <button type="submit" value="Supprimer" class="btn">Supprimer cette utilisateur</button> |
        @Html.ActionLink("Annuler", "Home", new { }, new { @class = "btn"})
    </p>
}
