@model IEnumerable<SupportInvestigation.Models.Model.User>

@{
    ViewBag.Title = "ListUser";
}

<h2>Utilisateur en base de donnée</h2>

<table class="table">
    <tr>
        <th>
            Login
        </th>
       
        <th>
            Mail
        </th>
        <th>
            Rôle
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
        @if (item.Level == 0)
        {
            <span>Administrateur</span>
        }
        else
        {
            <span>Utilisateur</span>
        }
        </td>
        <td>
            @Html.ActionLink("Modifier l'utilisateur", "EditUser", new { id=item.UserID })
        </td>

    </tr>
}

</table>
<br />
<br />
@Html.ActionLink("retourner à la page d'administration", "Home", new { }, new { @class = "btn"})