@{
    ViewBag.Title = "CreateTicketSuccess";
}

<h2> Votre ticket à bien été créé !</h2> 
<br />
<br />
@Html.ActionLink("retourner sur la liste des tickets", "List", new { }, new { @class = "btn" })
